<app-navbar-landing />

<div class="principal">
  <nav class="principal-box">
    <nav class="box-contenido">
      <h1>Vive y estudia sin <br> preocupaciones en <br> todo Lima </h1>
      <p>Encuentra alojamiento según tu distrito, universidad o <br> presupuesto.</p>
      <a href="/auth/register" class="button">EMPEZAR</a>
    </nav>
  </nav>
</div>

<div id="nosotros" class="nosotros">
  <img class="logo1" src="/assets/logo.png">
  <div class="nosotros-elementos">
    <nav class="nosotros-box">
      <nav class="nosotros-contenido">
        <h2>Quiénes Somos</h2>
        <p>En ViviStu entendemos lo difícil que puede ser encontrar alojamiento en Lima, tanto para estudiantes locales
          que buscan estar cerca de su universidad como para quienes llegan de fuera y necesitan un lugar seguro y
          accesible. Nuestra misión es que cada estudiante encuentre un hogar en Lima de forma rápida, confiable y sin
          complicaciones.</p>
      </nav>
    </nav>
    <img class="foco" src="/assets/foco.png">
  </div>
</div>

<div class="ofrecemos">
  <h2>Ofrecemos</h2>
  <div class="contenido-ofrecemos">
    <div class="primera-columna">
      <div class="caracteristica">
        <img src="/assets/preciosIcon.png">
        <p>Precios accesibles: opciones que se ajustan al bolsillo de los estudiantes.</p>
      </div>
      <div class="caracteristica">
        <img src="/assets/busquedaIcon.png">
        <p>Búsqueda fácil: encuentra tu alojamiento filtrando por distrito, universidad o presupuesto.</p>
      </div>
    </div>
    <div class="segunda-columna">
      <div class="caracteristica">
        <img src="/assets/seguridadIcon.png">
        <p>Seguridad garantizada: trabajamos con alojamientos verificados para tu tranquilidad.</p>
      </div>
    </div>
  </div>
</div>

<div id="faq" class="preguntas">
  <img class="banner2" src="/assets/banner2.png">
  <div class="preguntas-contenido">
    <img class="logo2" src="/assets/logo.png">
    <h2>Preguntas Frecuentes</h2>

    <div class="pregunta-box1">
      <div class="pregunta-contenido1">
        <h3>¿La app es gratuita?</h3>
        <p> Sí, puedes registrarte y explorar alojamientos sin costo</p>
      </div>
    </div>

    <div class="pregunta-box2">
      <div class="pregunta-contenido2">
        <h3>¿Cómo verifican los alojamientos?</h3>
        <p> Cada publicación pasa por un proceso de validación para garantizar que sea confiable y segura.</p>
      </div>
    </div>

    <div class="pregunta-box3">
      <div class="pregunta-contenido3">
        <h3>¿Puedo reservar directamente desde viviEstu?</h3>
        <p> Sí, puedes contactar al propietario y concretar tu reserva a través de nuestra plataforma.</p>
      </div>
    </div>

    <div class="pregunta-box4">
      <div class="pregunta-contenido4">
        <h3>¿En qué distritos funciona?</h3>
        <p> Actualmente estamos enfocados en Lima Metropolitana, cerca de las principales universidades.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>