.principal {
  background-image: url("/assets/Banner.png");
  height: 90vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.principal-box {
  height: 34rem;
  width: 53rem;
  margin-left: 15rem;
  background-color: rgba(255, 243, 227, 0.9);
  border-radius: 10px;
}

.box-contenido {
  margin-left: 4rem;
  margin-top: 4rem;
  color: #B88E2F;
}

.box-contenido h1 {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
}

.box-contenido p {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}

.button {
  font-size: 20px;
  margin-top: 4rem;
  background-color: #B88E2F;
  color: #FFFFFF;
  padding: 12px 83px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  display: inline-block;
}

.logo1 {
  height: 188px;
  margin-left: 2rem;
  margin-top: -3.5rem;
}

.nosotros-elementos {
  display: flex;
}

.foco {
  height: 400px;
  margin-left: 6rem;
}

.nosotros {
  background-color: #FFFFFF;
  height: 38rem;
}

.nosotros-box {
  margin-top: 1.8rem;
  background-color: #FFF3E3;
  width: 80rem;
  height: 22rem;
}

.nosotros-contenido {
  padding-left: 13rem;
  padding-top: 3rem;
}

.nosotros-contenido h2 {
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #B88E2F;
}

.nosotros-contenido p {
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #000000;
  width: 60rem;
}

.ofrecemos {
  background-color: #FCF8F3;
  padding-top: 5rem;
}

.ofrecemos h2 {
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.contenido-ofrecemos img {
  height: 190px;
}

.contenido-ofrecemos p {
  color: #000000;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-top: 1rem;
  width: 320px;
  margin-left: 2rem;
}

.primera-columna {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.caracteristica {
  display: flex;
}

.segunda-columna {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.preguntas {
  background-color: #FFFFFF;
  display: flex;
}

.banner2 {
  width: 800px;
}

.preguntas-contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.preguntas-contenido h2 {
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #B88E2F;
  text-align: center;
}

.pregunta-box {
  margin-top: 5rem;
  color: #000000;
}

.logo2 {
  height: 120px;
  margin-left: auto;
  margin-right: 4rem;
  margin-top: -3rem;
}

.pregunta-box1 {
  background-color: #FCF8F3;
  margin-top: 5rem;
  width: 50rem;
}

.pregunta-box2 {
  background-color: #B88E2F;
  margin-top: 5rem;
  width: 50rem;
  margin-left: auto;
}

.pregunta-box3 {
  margin-top: 5rem;
  background-color: #FFF5E6;
  width: 50rem;
}

.pregunta-box4 {
  margin-top: 5rem;
  background-color: #FCF8F3;
  margin-left: auto;
  width: 50rem;
}

.pregunta-contenido1 {
  color: #000000;
  padding: 2rem;
  padding-left: 8rem;
}

.pregunta-contenido1 h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.pregunta-contenido1 p {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  width: 30rem;
}

.pregunta-contenido2 {
  color: #FFFFFF;
  padding: 2rem;
  padding-left: 7rem;
}

.pregunta-contenido2 h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.pregunta-contenido2 p {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  width: 40rem;
}

.pregunta-contenido3 {
  color: #000000;
  padding: 2rem;
  padding-left: 8rem;
}

.pregunta-contenido3 h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.pregunta-contenido3 p {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  width: 38rem;
}

.pregunta-contenido4 {
  color: #000000;
  padding: 2rem;
  padding-left: 7rem;
}

.pregunta-contenido4 h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.pregunta-contenido4 p {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  width: 38rem;
}
