.profile-header-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
  color: black;
}
.profile-avatar { font-size: 6rem; color: #000; display: flex; align-items: center; }
.profile-basic-info { display: flex; flex-direction: column; gap: 0.5rem; }
.profile-name { font-size: 1.8rem; font-weight: 700; margin: 0; }
.profile-email { font-size: 1rem; font-weight: 500; color: #333; margin: 0; }
