<div id="menu" class="navbar">
    <nav class="navegacion-principal">
        <a routerLink="/student/dashboard" >
            <img class="img" src="/assets/LogoFull.jpg" alt="Logo">
        </a>

        <ul>
            <li><a routerLink="/student/dashboard" routerLinkActive="active-link">Inicio</a></li>
            <li><a routerLink="/student/accommodations" routerLinkActive="active-link">Departamentos</a></li>
            <li><a routerLink="/student/compare" routerLinkActive="active-link">Comparar</a></li>
            </ul>

        @if (currentUser()) {
            <div class="user-actions-container">

                <a routerLink="/student/profile" class="user-profile-link">
                    <div class="user-avatar">
                            <i class="far fa-user-circle avatar-icon"></i>
                    </div>
                      <span class="user-name">
                          {{ (currentUser()?.name || 'Usuario').split(' ')[0] }}
                      </span>
                </a>

                <button (click)="onLogout()" class="button logout-button">
                    Cerrar Sesión
                </button>
            </div>
        } @else {
            <a routerLink="/auth/login" class="button">Ingresar</a>
        }
    </nav>
</div>

