<footer id="contacto" class="footer">
  <div class="container footer-content-main">
    <!-- Columna Izquierda: Logo e Info -->
    <div class="footer-left">
      <div class="brand-logo footer-logo">
         <div class="logo-icon small">
           <i class="fas fa-map-marker-alt"></i>
         </div>
         <span class="logo-text small">ViviEstu</span>
      </div>
      <div class="contact-info">
        <p>contacto&#64;viviestuapp.com</p>
        <p>+51 987 654 321</p>
        <p>ANGAMOS ESTE 6767,</p>
        <p>LIMA 54321 PERU</p>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

    <!-- Columna Derecha: Enlaces -->
    <div class="footer-right">
      <h4>Enlaces</h4>
      <ul class="footer-links-list">
        <li><a routerLink="/">Inicio</a></li>
        <li><a href="/#quienes-somos">Quiénes somos</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a routerLink="/auth/register">Únete</a></li>
      </ul>
    </div>
  </div>

  <div class="container copyright-container">
    <p class="copyright">2025 ViviEstu. Derechos Reservados</p>
  </div>
</footer>
