@if (student) {
<div class="info-card">
  <div class="info-section">
    <h3 class="info-title">Información Personal</h3>
    <div class="info-grid">
      <div class="info-item">
        <span class="label">DNI:</span> <span class="value">{{ student.dni }}</span>
      </div>
      <div class="info-item">
        <span class="label">Teléfono:</span> <span class="value">{{ student.telefono }}</span>
      </div>
      <div class="info-item">
        <span class="label">Zona preferida:</span> <span class="value">{{ student.distrito }}</span>
      </div>
    </div>
  </div>

  <div class="info-section">
    <h3 class="info-title">Información Académica</h3>
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Universidad:</span> <span class="value">{{ student.universidad }}</span>
      </div>
      <div class="info-item">
        <span class="label">Ciclo:</span> <span class="value">{{ student.ciclo }}</span>
      </div>
      <div class="info-item">
        <span class="label">Carrera:</span> <span class="value">{{ student.carrera }}</span>
      </div>
    </div>
  </div>

  <div class="action-row">
    <a routerLink="/student/profile/edit" class="btn btn-primary btn-edit" style="text-decoration: none;">Editar Información</a>
  </div>
</div>
}
