<div class="form-card" *ngIf="student">
  <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
    <div class="form-group">
      <label class="label-text">Nombres</label>
      <input type="text" class="form-input" [(ngModel)]="student.nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label class="label-text">Apellidos</label>
      <input type="text" class="form-input" [(ngModel)]="student.apellidos" name="apellidos" required>
    </div>
    <div class="form-group">
      <label class="label-text">Correo</label>
      <input type="email" class="form-input" [(ngModel)]="student.correo" name="correo" required>
    </div>
    <div class="form-group">
      <label class="label-text">Universidad</label>
      <input type="text" class="form-input" [(ngModel)]="student.universidad" name="universidad" required>
    </div>
    <div class="form-group">
      <label class="label-text">Ciclo</label>
      <input type="number" class="form-input" [(ngModel)]="student.ciclo" name="ciclo" required>
    </div>
    <div class="form-group">
      <label class="label-text">Zona Preferida</label>
      <input type="text" class="form-input" [(ngModel)]="student.preferredZone" name="preferredZone" required>
    </div>
    <div class="form-group">
      <label class="label-text">Presupuesto (S/.)</label>
      <input type="number" class="form-input" [(ngModel)]="student.budget" name="budget" required>
    </div>
    <div class="form-actions">
      <a routerLink="/student/profile" class="btn btn-secondary">Cancelar</a>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
  </form>
</div>