<nav class="navbar">
  <div class="container navbar-content">
    <div class="brand-logo">
      <div class="logo-icon">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <span class="logo-text">ViviEstu</span>
    </div>
    <div class="nav-links desktop-only">
      <a routerLink="/landlord/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Inicio</a>
      <a routerLink="/landlord/accommodations" routerLinkActive="active" class="nav-link">Departamentos</a>
      <a routerLink="/landlord/calculator" routerLinkActive="active" class="nav-link">Calculadora</a>
      <a routerLink="/landlord/forum" routerLinkActive="active" class="nav-link">Foro</a>
    </div>
    <div class="user-actions">
       <div class="user-avatar-nav">
         <i class="far fa-user-circle"></i>
       </div>
    </div>
  </div>
</nav>
