<nav class="navbar">
  <div class="container navbar-content">
    <div routerLink="/landlord/dashboard" class="brand-logo">
      <div class="logo-icon">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <span class="logo-text">ViviEstu</span>
    </div>
    <div class="nav-links desktop-only">
      <a routerLink="/landlord/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="nav-link">Inicio</a>
      <a routerLink="/landlord/dashboard" routerLinkActive="active" class="nav-link">Mis Propiedades</a>
      <a routerLink="/landlord/dashboard" routerLinkActive="active" class="nav-link">Solicitudes</a>
    </div>
    <div class="user-actions">
      <a routerLink="/landlord/profile" class="user-avatar-nav">
        <div class="user-avatar">
          @if (currentUser && currentUser.urlFotoPerfil && !imageLoadError) {
          <img [src]="currentUser.urlFotoPerfil" alt="Avatar de {{currentUser.nombre}}" class="avatar-image"
            (error)="handleImageError()">
          } @else {
          <i class="far fa-user-circle"></i>
          }
        </div>
      </a>
      <button (click)="logout()" class="logout-button desktop-only">
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>